.About{
    /* padding: 50px 50px 50px 100px; */
    overflow: hidden;
}

/* .upper-div{
    display: flex;
    gap: 40px;
} */

.text-span{
    /* width: 520px; */
}

.text-span h2{
    font-size: 28px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: #444444;
    line-height: 36px;
}

.text-span h4{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    line-height: 20px;
    font-style: italic;
}

.upper-div img{
    width: 560px;
}

.upper-div ul li{
    list-style: none;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    display: flex;
    gap: 2px;
}

.upper-div ul{
    margin-top: 20px;
    line-height: 20px;
}